
{% extends 'basic.html' %}
{% block body %}
{% load static %}
            <!-- Breadcumb area Start -->
            <div class="breadcumb-area bg--black ptb--100">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <ul class="breadcumb">
                                <li class="kainat-breadcumb"><a class="kainat-breadcumb-link" href="{% url 'home' %}">Home</a></li>
                                <li class="kainat-breadcumb"><a class="kainat-breadcumb-link current" href="{% url 'forgot-password' %}">Forgot-Password</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcumb area End -->

            <!-- Main content wrapper start -->
            <div class="main-content-wrapper">
                <div class="page-inner ptb--80">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-6 col-md-10">
                                <div class="form-box">
                                    <h1>Forgot Password</h1>
                                    <p>Please Enter Your Email.</p>
                                    <form class="form" action="." method="post" >
                                        {% csrf_token %}
                                        {% if error %}
                                        <h5 style="color: red;">{{error}}</h5>
                                         
                                         {% endif %}
                                        <div class="kainat-form-group row">
                                            <div class="col-md-12 col-lg-12 col-12">
                                                <input type="email" name="email"  required id="login_email" class="kainat-input-form" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="kainat-form-group row">
                                            <div class="col-lg-12 col-12">
                                    
                                                <button type="submit" class="btn btn--large btn-style-3">Send</button>
                                            </div>
                                        </div>
                                       
                                    </form>
                                </div>
                            </div>
                        </div>   
                    </div>   
                </div>
            </div>
            <!-- Main content wrapper end -->

          {% endblock body %}