
{% extends 'basic.html' %}
{% block body %}
{% load static %}

            <!-- Breadcumb area Start -->
            <div class="breadcumb-area bg--black ptb--100">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <ul class="breadcumb">
                                <li class="kainat-breadcumb"><a class="kainat-breadcumb-link" href="{% url 'home' %}">Home</a></li>
                                <li class="kainat-breadcumb"><a class="kainat-breadcumb-link current" href="{% url 'checkout' %}">Checkout</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Breadcumb area End -->

            <!-- Main content wrapper start -->
            <div class="main-content-wrapper">
                <div class="checkout-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <!-- Checkout Area Start -->
                                <div class="checkout-area ptb--60">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="custom-title">
                                                <h2>Billing Details</h2>
                                            </div>
                                            <div class="checkout-form">
                                                <form action="#" class="form">
                                                    <div class="form-row mb--30">
                                                        <div class="kainat-form-group col-md-6">
                                                            <input type="text" name="fname" class="kainat-input-form" placeholder="First Name *">
                                                        </div>
                                                        <div class="kainat-form-group col-md-6">
                                                            <input type="text" name="lname" class="kainat-input-form" placeholder="Last Name *">
                                                        </div>
                                                    </div>
                                                    <div class="form-row mb--30">
                                                        <div class="kainat-form-group col-md-12">
                                                            <input type="text" name="company" class="kainat-input-form" placeholder="Company">
                                                        </div>
                                                    </div>
                                                    <div class="form-row mb--30">
                                                        <div class="kainat-form-group col-md-6">
                                                            <input type="text" name="city" class="kainat-input-form" placeholder="City *">
                                                        </div>
                                                        <div class="kainat-form-group col-md-6">
                                                            <input type="email" name="bill_email" id="bill_email" class="kainat-input-form" placeholder="Email Address *">
                                                        </div>
                                                    </div>
                                                    <div class="form-row mb--30">
                                                        <div class="kainat-form-group col-md-6">
                                                            <input type="text" name="zip" id="zip" class="kainat-input-form" placeholder="Zip Code *">
                                                        </div>
                                                        <div class="kainat-form-group col-md-6">
                                                            <select class="country_select">
                                                                <option value="">---Please Select---</option>
                                                                <option value="Bangladesh">Bangladesh</option>
                                                                <option value="Pakistan">Pakistan</option>
                                                                <option value="Germany">Germany</option>
                                                                <option value="Argentina">Argentina</option>
                                                                <option value="Belgium">Belgium</option>
                                                                <option value="Brazil">Brazil</option>
                                                                <option value="India">India</option>
                                                                <option value="Saudi">Saudi arabia</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="form-row mb--30">
                                                        <div class="kainat-form-group col-12">
                                                            <input type="text" name="streetAddress" class="kainat-input-form" placeholder="Address">
                                                        </div>
                                                    </div>
                                                    <div class="form-row mb--30">
                                                        <div class="kainat-form-group col-12">
                                                            <input type="text" name="apartment" class="kainat-input-form" placeholder="Apartment, suite, unit etc. (optional)">
                                                        </div>
                                                    </div>
                                                    <div class="form-row mb--30">
                                                        <div class="kainat-form-group col-md-6">
                                                            <input type="text" name="phone" class="kainat-input-form" placeholder="Telephone">
                                                        </div>
                                                        <div class="kainat-form-group col-md-6">
                                                            <input type="text" name="fax" class="kainat-input-form" placeholder="Fax">
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="kainat-form-group col-12">
                                                            <textarea class="kainat-input-form kainat-input-form--textarea" id="orderNotes" name="orderNotes" placeholder="Notes about your order, e.g. special notes for delivery."></textarea>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 mt-md--30">
                                            <div class="custom-title">
                                                <h2>Cart Total</h2>
                                            </div>
                                            <div class="order-details mb--30">
                                                <table class="order-table">
                                                    <thead>
                                                        <tr>
                                                            <th>Product</th>
                                                            <th class="f-right">Total</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Luxury Bag</td>
                                                            <td class="f-right">$38.00</td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr class="cart-subtotal">
                                                            <td>Cart Subtotal</td>
                                                            <td class="f-right">$56.00</td>
                                                        </tr>
                                                        <tr class="cart-subtotal">
                                                            <td>Shipping</td>
                                                            <td class="f-right">$00.00</td>
                                                        </tr>
                                                        <tr class="order-total">
                                                            <td>Order Total</td>
                                                            <td class="f-right">$56.00</td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <div class="custom-title">
                                                <h2>Payment Method</h2>
                                            </div>
                                            <div class="checkout-payment">
                                                <form action="#" class="form">
                                                    <div class="form-row">
                                                        <div class="kainat-form-group col-12">
                                                            <div class="custom-radio custom-radio--2">
                                                                <input type="radio" name="paymentMethods" id="checkpayment" class="kainat-radio-input">
                                                                <label for="checkpayment" class="kainat-radio-label"> <span></span></label>
                                                            </div>
                                                            <p class="kainat-payment-info">Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="kainat-form-group col-12">
                                                            <div class="custom-radio">
                                                                <input type="radio" name="paymentMethods" id="cashdelivery" class="kainat-radio-input">
                                                                <label for="cashdelivery" class="kainat-radio-label"> <span></span></label>
                                                            </div>
                                                            <p class="kainat-payment-info">Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="kainat-form-group col-12">
                                                            <div class="custom-radio custom-radio--2">
                                                                <input type="radio" name="paymentMethods" id="paypal" class="kainat-radio-input">
                                                                <label for="paypal" class="kainat-radio-label"> <span></span></label>
                                                            </div>
                                                            <p class="kainat-payment-info">Pay via PayPal. You can pay with your credit card if you don’t have a PayPal account.</p>
                                                        </div>
                                                    </div>
                                                    <div class="form-row">
                                                        <div class="kainat-form-group mb--0 col-12">
                                                            <button type="submit" class="btn btn-style-3 btn--fullwidth">Place Order</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Checkout Area End -->
                            </div>
                        </div> 
                    </div>     
                </div>
            </div>
            <!-- Main content wrapper end -->
{% endblock body %}