
{% include 'dbasic.html' %}

{% block body %}
{% load static %}
<style>
    .panel-heading{
        text-align:center;
    
    
    }
    
    
    .nav > li > a, .nav > li > a:focus {
    text-decoration: none;
    /* background-color: #eee; */
}
th{
    text-align: center;
}

td{
    text-align: center;
}
    </style>
<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-header text-center">
                   Product Details
                </h1>
            </div>
        </div>
       
         
<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
               Product Thickness
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills">
                    <li class="active"><a href="#thick" data-toggle="tab">All Thickness details</a>
                    </li>
                    <li class=""><a href="#thickadd" data-toggle="tab">Add New</a>
                    </li>
                    
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade active in" id="thick">
        {% if thick %}         <p> 
                       <div class="table-responsive"> 
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Thickness</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for t in thick %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{t.thickness}}</td>
                                        <td><button style="background-color: rgb(221, 47, 47);" 
                                            class="btn btn-primary " onclick="$('#thickid').val('{{t.id}}');" data-toggle="modal" data-target="#delete">
                                             <i class="fa fa-trash-o "></i>
                                            </button></td>
                                    </tr>{% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                    </p> 
{% else %}
                    <p>0 Available !</p>{% endif %}
                    </div>
                    <div class="tab-pane fade" id="thickadd">
          <p>    <form action="" method="post" >{% csrf_token %} 
                           
                               <div class="panel panel-default">
                                   <div class="panel-heading">
                                    Add New Product Thickness
                                   </div>
                                   <div class="panel-body">
                                                  
                                                   
                                                   
                                                   <div class="form-group">
                                                       <label>Thickness</label>
                                                       <input class="form-control" required name="thick" type="number">
                                                   </div>
                                                  
                                                
                                           
                                         <button class="btn btn-primary " type="submit" style="float: right;">
                                    Save </button></div>
                       </div>
                    </form> </p> 
              </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
               Product Materials
            </div>
            <div class="panel-body">
                <ul class="nav nav-pills text-center">
                    <li class="active"><a href="#mate" data-toggle="tab">All Materials Details</a>
                    </li>
                    <li class=""><a href="#addmate" data-toggle="tab">Add New</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade active in" id="mate">
                     {% if mate %}
                        <p> 
                            <div class="table-responsive"> 
                                 <table class="table table-striped table-bordered table-hover">
                                     <thead>
                                         <tr>
                                             <th>#</th>
                                             <th>Materials</th>
                                             <th>Action</th>
                                         </tr>
                                     </thead>
                                     <tbody>
                                         {% for m in mate %}
                                         <tr>
                                             <td>{{forloop.counter}}</td>
                                             <td>{{m.material}}</td>
                                             <td><button style="background-color: rgb(221, 47, 47);" 
                                                 class="btn btn-primary " onclick="$('#mateid').val('{{m.id}}');" data-toggle="modal" data-target="#delete">
                                                   <i class="fa fa-trash-o "></i>
                                                 </button></td>
                                         </tr>{% endfor %}
                                         
                                     </tbody>
                                 </table>
                             </div>
                         </p>
                        {% else %}<p>0 Available !</p> 
{% endif %}

                    </div>
                    <div class="tab-pane fade" id="addmate">
               <p>        <form action="" method="post" >{% csrf_token %} 
                           
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                 Add New Product Materials
                                </div>
                                <div class="panel-body">
                                               
                                                
                                                
                                                <div class="form-group">
                                                    <label>Materials</label>
                                                    <input class="form-control" required name="mate" type="text">
                                                </div>
                                               
                                             
                                        
                                      <button class="btn btn-primary " type="submit" style="float: right;">
                                 Save </button></div>
                    </div>
                 </form> </p> </div>
                  
                </div>
            </div>
        </div>
    </div>
</div> 
         
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-center" id="myModalLabel">Delete</h4>
            </div>
            <form action="" method="post">{% csrf_token %}
            <div class="modal-body text-center" style="font-size:20px;">
          
              <input type="hidden"  name="thickid" id="thickid">
              <input  type="hidden" name="mateid" id="mateid">
            Are You Sure You want to delete?  </div>
            <div class="modal-footer">
                <button type="close" class="btn btn-primary" data-dismiss="modal">No</button>
                <button type="submit" class="btn btn-danger">Yes</button>
            </div></form>
        </div>
    </div>
</div>
        {% endblock body %}